<nav class="navbar navbar-light bg-light navbar-expand-md">
    <a class="navbar-brand" href="#">
        Personel Yönetim Sistemi Toplam Gider
        @{Html.RenderAction("ToplamMaas", "Personel");}
        <br />
        @{Html.RenderAction("ToplamMaasAction", "Personel");}
        Hoş Geldin @HttpContext.Current.User.Identity.Name
    </a>

    <ul class="nav navbar-nav">
        <li class="active nav-item">
            <a href="/Departman" class="nav-link">Departmanlar</a>
        </li>
        <li class="nav-item">
            <a href="/Personel" class="nav-link">Personel</a>
        </li>
        <li class="nav-item">

            @if (User.IsInRole("A"))
            {
                <a href="/Kullanici" class="nav-link">Kullanicilar</a>
            }
        </li>
        <li class="nav-item">
            <a href="/Security/Loginout" class="nav-link">Çıkış Yap</a>
        </li>
        @*<li class="nav-item">
            <a href="#" class="nav-link">Üye Ol</a>
        </li>*@
    </ul>
</nav>
